.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.login-box {
  width: 500px;
  border: 1px solid #ddd;
}
.login-box-header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.login-box-content {
  height: 360px;
  padding: 20px;
}
