.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.layout-left {
  width: 200px;
  height: 100%;
  background: #ddd;
}
.layout-right {
  flex-grow: 1;
}
.layout-right-header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}
.layout-right-content {
  padding: 20px;
}
